<div class="container">
  <div class="preview-form row">
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Contact Person:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p class="text-danger"><strong>{{body.contact_Person}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Counrty:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p class="text-danger"><strong>{{body.Country}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>City:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.City}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Province:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.Province}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Check-Out Time:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.Hotel_Name}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Number of Rooms:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.endDate}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Number of Nights:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.startDate}}</strong></p></div>
  
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>No. of Rooms:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.numRooms}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Phone Number:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.phone_no}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Rating:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.rating}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Room Price:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.room_Price}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Room Type</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.room_Type}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Street Address</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.street_Address}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Website:</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.website}}</strong></p></div>

    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p>Zip Code</p></div>
    <div class="col-lg-6 col-md-6 col-sm-6 xol-xs-6"><p><strong>{{body.zip_code}}</strong></p></div>
  </div>
  </div>

