<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light text-primary">
        <a class="navbar-brand img-fluid" routerLink="home"> <img class="logo img-fluid" src="assets\images\Empty bed logo.png" style="max-width:100px;margin-top:-2px;height:50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>  
        <div class="collapse navbar-collapse text-primary" id="navbar1">
            <ul class="navbar-nav ml-auto">
              <!--
              <li *ngIf="service.roleMatch(['Admin'])">
                <li><a href="" class="nav-link" data-toggle="modal" data-target="#myModal"><i class="fas fa-user-plus"></i> Sign In </a></li>
              -->
      
              <li class="nav-item dropdown">
                  <div  *ngIf="!isLogin">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"><b> {{user}}</b></a>
                      <ul class="dropdown-menu" style="text-align: center">
                        <li><a href="" class="nav-link" data-toggle="modal" data-target="#myModal1"><i class="fas fa-user-plus"></i> Sign Up </a></li>
                        
                        <li> <a href="" class="nav-link" data-toggle="modal" data-target="#myModal"><i class="fas fa-sign-in-alt"></i> Sign In </a></li>
                      </ul>
                  </div>
        
                  <div *ngIf="isLogin">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"><b>{{user}}</b></a>
                      <ul class="dropdown-menu" style="text-align: center">
                        <li *ngIf="service.roleMatch(['Hotel_Manager'])"><a href="" class="nav-link" routerLink="hotel-dashboard"><i class="fas fa-users-cog" ></i> Dashboard </a></li>
                        <li role="separator" class="divider"></li>
                        <li *ngIf="service.roleMatch(['Admin'])"><a href="" class="nav-link" routerLink="dashboard"><i class="fas fa-users-cog" ></i> Dashboard </a></li>
                        <li role="separator" class="divider"></li>
                        <li *ngIf="!service.roleMatch(['Admin']) && !service.roleMatch(['Hotel_Manager'])"><a href="" class="nav-link" routerLink="profile"><i class="fas fa-users-cog" ></i> Profile </a></li>
                        <li role="separator" class="divider"></li> 
                        <li><a href="" class="nav-link"><i class="fas fa-user-plus" (click)="out()"></i> Sign Out </a></li>
                      </ul>
                </div>
              </li>
         
              
            </ul>
          </div>
      </nav>
      <!-- <router-outlet></router-outlet> -->
      
</div>