<div class="startOffer">
  <div class="container-fluid">
    <div class="">
      <div class="startOfferForm">
        <div class="container-fluid">   
          <div class="row">
            <h3 class="btn-block text-primary">Bid Details</h3>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Location</h5>
                <p><i class="fas fa-location-arrow"></i> {{details.destination}}</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Check in date</h5>
                <p><i class="fas fa-calendar-alt"></i> {{details.startDate}} </p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Check out date</h5>
                <p><i class="fas fa-calendar-alt"></i> {{details.endDate}}</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Rooms</h5>
                <p><i class="fas fa-door-closed"></i> {{details.roomCount}}</p>
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <h6 class="text-primary">Step 1: Choose where you want to stay</h6>
              <table id="placelist" class="form-group">
                
              </table>
              <h6 class="text-primary">Step 2: Choose the star level for your hotel</h6>
              <div class="form-group">
                <table style="width:100%">
                  <tr>
                    <td>
                      <div class="radio">
                        <label><input type="radio" (change)="selectedRate($event)"  [(ngModel)]="rating" value="5"> 5-Star Luxury</label>
                      </div>
                    </td>
                    <td>
                      <span><img src="/src/assets/images/5.gif"/></span>
                    </td>              
                  </tr>
                  
                  <tr>
                    <td><div class="radio">
                      <label><input type="radio" (change)="selectedRate($event)"  [(ngModel)]="rating" value="4"> 4-Star Deluxe</label>  
                      </div></td>
                    <td><img src="/src/assets/images/4.gif"/></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="radio">
                        <label><input type="radio" (change)="selectedRate($event)"  [(ngModel)]="rating" value="3"> 3-Star Upscale</label>        
                      </div>
                    </td>
                    <td>
                        <img src="/src/assets/images/3.gif" />
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="radio">
                        <label><input type="radio" (change)="selectedRate($event)"  [(ngModel)]="rating" value="2"> 2-Star Moderate</label>  
                      </div>
                    </td>
                    <td><img src="/src/assets/images/2.gif"/></td>
                  </tr>
                </table> 
              </div>
              <h6 class="text-primary">Step 3: Name Your Own Price (per room night)</h6>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">R</span>
                </div>
                <input type="tel" [(ngModel)]="price" class="form-control" placeholder="Amount (to the nearest Rand)">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
              <h5 class="text-primary">Reservation Name (Age 21 or older)</h5> 
              <p>Please enter the name of the person who will be checking into the hotel. 
                They must present a valid photo ID and credit card. </p>
              <hr>
              <div id="reservationForm">
                
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <div>
                <div id="map" style="width:100%; height:600px;"></div>
            </div>
            
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="btn-group text-center">
              <button (click)="backClicked()" type="button" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Back</button>
              <button (click)="PreviewBid()" type="button" class="btn btn-primary">Preview Offer</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

